
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #FF5E62, #FF9966); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container {
    background: #282828;
    border-radius: 20px;
    padding: 3rem;
    width: 90%;
    max-width: 35rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.timer-display {
    font-size: 3.5rem;
    color: #fff;
    background: linear-gradient(90deg, #00C9FF, #92FE9D);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.buttons button {
    font-size: 1.0rem;
    color: #fff;
    background-color: #1C1C1C;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.buttons button:hover {
    transform: scale(1.1);
    background-color: #FF5E62;
}

#start-timer {
    background-color: #4CAF50; 
}

#pause-timer {
    background-color: #FF9800; 
}

#reset-timer {
    background-color: #f44336; 
}

#start-timer:active {
    background-color: #45a049;
}

#pause-timer:active {
    background-color: #e68929;
}

#reset-timer:active {
    background-color: #d32f2f;
}
